@use "../global.scss";



#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vw;
    font-size: 2vw;
    border: 1px solid black;
}

#title {
    font-family: pasti;
    color: black;
}

#title::after {
    content: nth(global.$title-placeholders, 1);
    color: green;
    text-decoration: underline;
    animation: change-text 5s infinite;
    animation-delay: 0ms;

}

// Text animation
@keyframes change-text {
    $keyframe-txt: 0;
  
    @for $i from 1 to length(global.$title-placeholders)+1 {

       
        #{$keyframe-txt + 10}% {
            color: transparent;
        }

        #{$keyframe-txt}% {
     
            content: nth(global.$title-placeholders, $i);
            color: green;
     
        }
        $keyframe-txt: $keyframe-txt+calc(100 / (length(global.$title-placeholders)));

        
    }
   
}