@use "../global.scss";

.nav-bar {
    background: global.$base-color;
}

.nav-bar button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

#title::after {
    content: nth(global.$title-placeholders, 1);
    text-decoration: underline;
    animation: change-text 5s infinite;
    animation-delay: 0ms;

}

// Text animation
@keyframes change-text {
    $keyframe-txt: 0;
  
    @for $i from 1 to length(global.$title-placeholders)+1 {

        @debug $keyframe-txt;
        #{$keyframe-txt + 10}% {
            color: transparent;
        }
        #{$keyframe-txt}% {
            color: black;
            content: nth(global.$title-placeholders, $i);
        }
        $keyframe-txt: $keyframe-txt+calc(100 / (length(global.$title-placeholders)));

        
    }
   
}