@use "../global.scss";

.nav-bar {
    background: global.$base-color;
    width: 100vw;
    height: 5vw;
}

.nav-bar {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
}


.nav-bar :nth-child(2) {
    margin-left: 5vw;
}
.nav-bar button {
    background-color: transparent;
    border: none;
    margin-left: 1vw;
    margin-top: 1.3vw;
    font-size: 1.3vw;

  
}

.nav-bar img {
    position: absolute;
    width: 5vw;
    height: 5vw;
}

.nav-bar button div {
        user-select: none;
        transition: 0.5s;
        height: 2px;
        width: 0px;
        background-color:black;
        border-color: black;
        border-style: solid;
        border-width: 0px;
        border-bottom-width: 2px;
        position: relative;
        left: 50%;
        top: 1.9vw;
        transform: translate(-50%, 0);
}

button:hover div {
        width: 100%;
}

button:active div { 
    transition: .2s;
    width: 100%;
    transform: translate(-50%, -1.9vw);
}





