@use "../global.scss";

.nav-bar {
    position: fixed;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: global.$base-color;
    width: 100vw;
    height: 50px;
    border: none;
}


.nav-bar :nth-child(2) {
    margin-left: 5vw;
}
.nav-bar button {
    background-color: transparent;
    border: none;
    margin-left: 1px;
    margin-top: 14px;
    font-size: 15px;

  
}

.nav-bar img {
    position: absolute;
    width: 60px;
    height: 60px;
}







