
$base-color: white;
$higher-color: green;
$title-placeholders: "Security", "Privacy", "Decentralization", "Customization";

body {
    margin: 0px;
    overflow-x: hidden;
}


@font-face {
    font-family: pasti;
    src: url("../fonts/pasti-font/pasti.otf");
}