
$base-color: olive;
$higher-color: blue;
$title-placeholders: "Security", "Privacy", "Decentralization";

body {
    margin: 0px;
}


@font-face {
    font-family: pasti;
    src: url("../fonts/pasti-font/PastiOblique-7B0wK.otf");
}